<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="automatic" value="False" />
  </packageRestore>
  <packageSources>
     <add key="NetCoreDev" value="https://dotnet.myget.org/F/aspnet-2-0-2-october2017-patch/api/v3/index.json" />
     <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
