<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ErikEJ.SqlCeToolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ErikEJ.SqlCeToolbox.Properties.Settings>
            <setting name="DropTargetTables" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowBinaryValuesInResult" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowResultInGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayDescriptionTable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeSystemTablesInDocumentation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayObjectProperties" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxRowsToEdit" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="IgnoreIdentityInInsertScript" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepSchemaNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxColumnWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PreferDDEX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreserveSqlDates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PromptToSaveChangedScript" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultiLineTextEntry" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileFilterSqlCe" serializeAs="String">
                <value>*.sdf</value>
            </setting>
            <setting name="FileFilterSqlite" serializeAs="String">
                <value>*.db;*.db3;*.sqlite;*.sqlite3;*.dat</value>
            </setting>
            <setting name="TruncateSQLiteStrings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowNullValuesAsNULL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ParticipateInTelemetry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisableEditorKeyboardShortcuts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseClassicGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MakeSQLiteDatetimeReadOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetObjectExplorerDatabases" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ValidateConnectionsOnStart" serializeAs="String">
                <value>False</value>
            </setting>
        </ErikEJ.SqlCeToolbox.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
