<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ErikEJ.SqlCeToolbox.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.100.0.0" newVersion="14.100.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SqlWorkbench.Interfaces" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.Sdk.Sfc" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.100.0.0" newVersion="14.100.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Smo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.100.0.0" newVersion="14.100.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ErikEJ.SqlCeToolbox.Settings>
      <setting name="DropTargetTables" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowBinaryValuesInResult" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowResultInGrid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayDescriptionTable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludeSystemTablesInDocumentation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayObjectProperties" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxRowsToEdit" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="IgnoreIdentityInInsertScript" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KeepSchemaNames" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxColumnWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PreferDDEX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreserveSqlDates" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PromptToSaveChangedScript" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MultiLineTextEntry" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FileFilterSqlCe" serializeAs="String">
        <value>*.sdf</value>
      </setting>
      <setting name="FileFilterSqlite" serializeAs="String">
        <value>*.db;*.db3;*.sqlite;*.sqlite3;*.dat</value>
      </setting>
      <setting name="TruncateSQLiteStrings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowNullValuesAsNULL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ParticipateInTelemetry" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisableEditorKeyboardShortcuts" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseClassicGrid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MakeSQLiteDatetimeReadOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GetObjectExplorerDatabases" serializeAs="String">
        <value>True</value>
      </setting>
    </ErikEJ.SqlCeToolbox.Settings>
  </userSettings>
</configuration>