<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="CustomBinding_IVsIdeService">
                    <security mode="None" />
                </binding>
                <binding name="CustomBinding_IVsIdeService1">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://visualstudiogallery.msdn.microsoft.com/Services/v2011/Extension.svc"
                binding="wsHttpBinding" bindingConfiguration="CustomBinding_IVsIdeService"
                contract="ServiceReference1.IVsIdeService" name="CustomBinding_IVsIdeService" />
            <endpoint address="https://co1msdngal97.phx.gbl/Services/v2011/Extension.svc"
                binding="wsHttpBinding" bindingConfiguration="CustomBinding_IVsIdeService1"
                contract="ServiceReference1.IVsIdeService" name="CustomBinding_IVsIdeService1" />
        </client>
    </system.serviceModel>
</configuration>