<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="downloadFeed" path="downloadFeed.axd" type="NugetDownloadCountFeed.FeedHandler, NugetDownloadCountFeed" verb="GET"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomBinding_IVsIdeService" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="0" maxStringContentLength="0" maxArrayLength="0"
              maxBytesPerRead="0" />
          <security mode="Transport" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://marketplace.visualstudio.com/services/VStudio/Extension.svc"
          binding="wsHttpBinding" bindingConfiguration="CustomBinding_IVsIdeService"
          contract="ServiceReference1.IVsIdeService" name="CustomBinding_IVsIdeService" />
    </client>
  </system.serviceModel>
</configuration>