<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ErikEJ.SqlCeToolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ErikEJ.SqlCeToolbox.Properties.Settings>
            <setting name="DropTargetTables" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowBinaryValuesInResult" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowResultInGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayDescriptionTable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeSystemTablesInDocumentation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxRowsToEdit" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="MaxColumnWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IgnoreIdentityInInsertScript" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepServerSchemaNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultiLineTextEntry" serializeAs="String">
                <value>False</value>
            </setting>
        </ErikEJ.SqlCeToolbox.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
